@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

:root {
  --extra-dark: #2D3440;
  --extra-dark-rgb: 45, 52, 64;
  --extra-dark-light: #E7E7E7;
  --extra-dark-light-rgb: 231, 231, 231;
  --extra-dark-basic: #242424;
  --extra-dark-shadow: #858585;
  --extra-dark-shadow-rgb: 133, 133, 133;
  --dark-shadow: #AD988F;
  --dark-shadow-rgb: 173, 152, 143;
  --black: #000000;
  --dark: #565C66;
  --dark-rgb: 86, 92, 102;
  --neutral-basic: #B9B9B9;
  --neutral-basic-rgb: 185, 185, 185;
  --extra-light: #FCFCFC;
  --extra-light-rgb: 252, 252, 252;
  --white: #FFFFFF;

  --extra-bright: #FF2F64;
  --extra-bright-rgb: 255, 47, 100;
  --bright: #FF4A78;
  --neutral-special: #FF7799;
  --pink-light: #FEAFC3;
  --pink-extra-light: #FFCBD8;
  --pink-extra-light-rgb: 255, 203, 216;
  --blue: #69A9FF;
  --yellow: #FCC850;

  --status-error: #EA5454;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-width: 1366px;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--extra-dark);
  background-color: var(--pink-light);
  transition: background-color 0.155s cubic-bezier(.215,.61,.355,1);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  width: 1170px;
}

.button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.button-white {
  color: var(--extra-dark);
  background-color: var(--extra-light);
  outline: 4px solid rgba(var(--extra-light-rgb), 0.4);
  box-shadow: 0px 4px 12px rgba(var(--extra-dark-rgb), 0.1);
}

.button-white:hover {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  outline: 2px solid var(--extra-light);
  box-shadow: 0px 4px 15px rgba(var(--extra-dark-shadow-rgb), 0.15);
}

.button-white:focus,
.button-white:active {
  background-color: var(--extra-light);
  outline: 2px solid var(--extra-dark);
  box-shadow: 0px 4px 12px rgba(var(--extra-dark-rgb), 0.1);
}

.button-white:disabled,
.button-white-disabled,
.button-white:disabled:hover,
.button-white-disabled:hover,
.button-white:disabled:focus,
.button-white-disabled:focus {
  color: var(--neutral-basic);
  background-color: var(--extra-dark-light);
  outline: 4px solid rgba(var(--extra-light-rgb), 0.4);
  box-shadow: none;
  cursor: default;
}

.button-fuchsia {
  color: var(--extra-light);
  background-color: var(--extra-bright);
  outline: 4px solid rgba(var(--extra-bright-rgb), 0.3);
  box-shadow: 0px 4px 12px rgba(var(--extra-dark-rgb), 0.1);
}

.button-fuchsia:hover {
  color: var(--extra-dark);
  background-color: rgba(var(--extra-light-rgb), 0.3);
  outline: 4px solid var(--extra-bright);
  box-shadow: none;
}

.button-fuchsia:focus,
.button-fuchsia:active {
  color: var(--extra-light);
  background-color: var(--extra-bright);
  outline: 2px solid var(--extra-dark);
  box-shadow: 0px 4px 12px rgba(var(--extra-dark-rgb), 0.1);
}

.button-fuchsia:disabled,
.button-fuchsia-disabled,
.button-fuchsia-disabled:hover,
.button-fuchsia-disabled:focus {
  color: var(--extra-dark);
  background-color: var(--neutral-basic);
  outline: 4px solid rgba(var(--neutral-basic-rgb), 0.3);
  box-shadow: none;
  cursor: default;
}

/* Кнопка со спиннером*/

@keyframes stroke-rotate {
  0%,
  25%,
  25.0001%,
  50%,
  50.0001%,
  75%,
  75.0001%,
  100% {
    stroke-dashoffset: 268px;
  }
  12.5%,
  12.5001%,
  37.5%,
  37.5001%,
  62.5%,
  62.5001%,
  87.5%,
  87.5001% {
    stroke-dashoffset: 56px;
  }
  0%,
  12.5% {
    transform: rotate(0);
  }
  12.5001%,
  25% {
    transform: rotateX(180deg) rotate(72.5deg);
  }
  25.0001%,
  37.5% {
    transform: rotate(270deg);
  }
  37.5001%,
  50% {
    transform: rotateX(180deg) rotate(161.5deg);
  }
  50.0001%,
  62.5% {
    transform: rotate(180deg);
  }
  62.5001%,
  75% {
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001%,
  87.5% {
    transform: rotate(90deg);
  }
  87.5001%,
  100% {
    transform: rotateX(180deg) rotate(341.5deg);
  }
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-spinner {
  width: 16px;
  height: auto;
  animation: spinner-rotate 2s linear infinite;
  margin-left: 10px;
}

.spinner-dark {
  color: var(--extra-dark-basic);
}

.spinner-light {
  color: var(--extra-light);
}

.spinner-circle {
  fill: none;
  animation-name: stroke-rotate;
  stroke-dasharray: 282px;
  stroke-width: 10%;
  transform-origin: center;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-iteration-count: infinite;
  stroke: currentColor;
}

.title-h1 {
  margin: 0;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.title-h2 {
  margin: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.title-h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.title-h4 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: transparent;
}

.main-link:hover,
.htmlacademy-link-small:hover {
  text-decoration: none;
}

.main-link:focus,
.main-link:active,
.htmlacademy-link-small:focus,
.htmlacademy-link-small:active {
  color: rgba(var(--extra-dark-rgb), 0.3);
  outline: none;
}

.dark-text {
  margin: 0;
  color: var(--dark);
}

.page-header {
  margin-bottom: 40px;
  padding-top: 16px;
  color: var(--extra-dark);
  background-color: transparent;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  margin-top: 10px;
  margin-left: 17px;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  position: relative;
  margin-bottom: 15px;
}

.navigation-link {
  padding: 8px 16px;
  color: var(--extra-dark);
  background-color: transparent;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link-current:hover,
.navigation-button:hover {
  color: var(--extra-dark);
  background-color: rgba(var(--extra-light-rgb), 0.5);
  border-radius: 26px;
}

.navigation-link:focus,
.navigation-link-current:focus,
.navigation-button:focus {
  color: var(--extra-dark);
  background-color: rgba(var(--extra-light-rgb), 0.5);
  box-shadow: inset 0 0 0 2px var(--extra-dark);
  outline: none;
  border-radius: 26px;
}

.navigation-link:active,
.navigation-link-current:active,
.navigation-button:active {
  color: var(--extra-dark);
  background-color: var(--extra-light);
  box-shadow: none;
  border-radius: 26px;
}

.navigation-link-current {
  color: var(--extra-light);
  background-color: var(--bright);
  border-radius: 26px;
}

.navigation-user {
  display: flex ;
  align-items: center;
  max-width: 590px;
  margin-top: 10px;
  margin-left: auto;
}

.navigation-phone {
  display: block;
  margin-right: 3px;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 20px;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-container-item {
  position: relative;
  margin-bottom: 15px;
}

.navigation-container-item:not(:last-child) {
  margin-right: 17px;
}

.navigation-button {
  position: relative;
  padding: 6px 16px 6px 40px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--extra-dark);
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: none;
  border-radius: 26px;
  cursor: pointer;
}

.navigation-button::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.icon-search {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
}

.icon-search::before {
  width: 15px;
  height: 15px;
  background-image: url("../images/icon-search.svg");
}

.icon-auth::before {
  top: 8px;
  left: 16px;
  width: 15px;
  height: 15px;
  background-image: url("../images/icon-auth.svg");
}

.icon-cart::before {
  top: 8px;
  left: 16px;
  width: 16px;
  height: 16px;
  background-image: url("../images/icon-cart.svg");
}

.main-container {
  flex-grow: 1;
}

.slider {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.slider-left-wrapper {
  width: 470px;
  margin-top: -25px;
  margin-left: 70px;
}

.slider-text-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide-text-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slide-text-item .title-h1 {
  margin-bottom: 24px;
}

.slide-text {
  width: 414px;
  margin-top: 0;
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 24px;
}

.slider-right-wrapper {
  width: 610px;
}

.slider-images-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-images-item {
  position: relative;
  width: 100px;
  text-align: center;
}

.slider-images-item::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(var(--pink-extra-light-rgb), 0.4);
  border-radius: 50%;
}

.slider-images-item:not(:last-child) {
  margin-right: 41px;
}

.slider-images-item:first-child {
  position: relative;
  width: 313px;
  margin-right: 60px;
}

.slider-images-item:first-child::before {
  top: 100px;
  width: 313px;
  height: 313px;
  background-color: var(--pink-extra-light);
}

.slide-image {
  position: relative;
  z-index: 2;
}

.slide-image-small {
  position: relative;
  z-index: 2;
  margin-top: -14px;
  margin-left: -5px;
}

.slider-controls {
  position: absolute;
  top: 238px;
  left: 542px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.slider-button {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border-radius: 50%;
  border: 2px solid var(--extra-light);
  cursor: pointer;
}

.slider-button:hover {
  background-color: var(--extra-light);
}

.slider-button:focus,
.slider-button:active {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: 2px solid var(--extra-dark);
  outline: none;
}

.slider-button:disabled,
.slider-button:disabled:hover,
.slider-button:disabled:focus {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: 2px solid var(--extra-light);
  opacity: 0.4;
  cursor: default;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-arrow {
  position: absolute;
  left: 45%;
  top: 35%;
}

.slider-arrow,
.slider-button:disabled:hover .slider-arrow,
.slider-button:disabled:focus .slider-arrow,
.slider-button:disabled:active .slider-arrow {
  fill: var(--extra-light);
}

.slider-button:hover .slider-arrow,
.slider-button:focus .slider-arrow,
.slider-button:active .slider-arrow {
  fill: var(--extra-dark);
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -25px;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.155s cubic-bezier(.215,.61,.355,1);
}

.slider-pagination-button:hover {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: 1px solid var(--extra-light);
}

.slider-pagination-button:focus,
.slider-pagination-button:active {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: 1px solid var(--extra-dark);
  outline: none;
}

.slider-pagination-button:disabled,
.slider-pagination-button:disabled:hover {
  background-color: var(--neutral-basic);
  border: 1px solid transparent;
  cursor: default;
}

.slider-pagination-button-current {
  background-color: var(--extra-light);
  border: 2px solid var(--extra-light);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider .social-list {
  position: absolute;
  right: 0;
  bottom: 0;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-item .main-link {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--extra-light);
  border-radius: 50%;
  outline: 2px solid rgba(var(--extra-light-rgb), 0.2);
  text-decoration: none;
}

.social-item .main-link:hover {
  background-color: var(--extra-dark);
}

.social-item .main-link:focus,
.social-item .main-link:active {
  background-color: var(--extra-dark);
  outline: 2px solid var(--extra-dark);
}

.social-svg {
  fill: var(--extra-light);
}

.actions {
  margin-bottom: 81px;
}

.actions .title-h2 {
  margin-bottom: 55px;
  text-align: center;
}

.actions-list {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.actions-item {
  position: relative;
  min-height: 268px;
  padding: 40px 209px 40px 40px;
  background-color: var(--neutral-special);
  border-radius: 16px;
}

.actions-item::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.action-1::after {
  top: 28px;
  right: 15px;
  width: 181px;
  height: 284px;
  background-image: url("../images/actions/action-1.png");
}

.action-2::after {
  top: 19px;
  right: 7px;
  width: 232px;
  height: 359px;
  background-image: url("../images/actions/action-2.png");
}

.actions-item .title-h3 {
  margin-bottom: 16px;
}

.action-text {
  margin-top: 0;
  margin-bottom: 32px;
}

.actions-item .button-main {
  display: block;
  width: 176px;
}

.products {
  margin-bottom: 80px;
}

.products .title-h2 {
  margin-bottom: 106px;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 91px 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  position: relative;
  padding: 133px 40px 24px 40px;
  background-color: var(--extra-light);
  border-radius: 8px;
  text-align: center;
}

.product-card-image {
  position: absolute;
  top: -51px;
  left: 52px;
  display: block;
  border-radius: 50%;
}

.product-card-image + .title-h4 {
  margin-bottom: 8px;
}

.product-card .dark-text {
  margin-bottom: 16px;
}

.product-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card-content .product-card-price {
  max-width: 100px;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-card-content .button-fuchsia,
.product-card-content .button-fuchsia-disabled:hover,
.product-card-content .button-fuchsia-disabled:focus,
.product-card-content .button-fuchsia-disabled:active {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  outline: none;
  border-radius: 50%;
  box-shadow: none;
}

.product-card-content .button-fuchsia:hover {
  outline: 2px solid var(--extra-bright);
}

.product-card-content .button-fuchsia:focus,
.product-card-content .button-fuchsia:active {
  color: var(--extra-light);
  background-color: var(--extra-bright);
  outline: 2px solid var(--extra-dark);
  box-shadow: none;
}

.product-card-content .button-fuchsia-disabled:hover,
.product-card-content .button-fuchsia-disabled:focus,
.product-card-content .button-fuchsia-disabled:active {
  color: var(--extra-dark);
  background-color: var(--neutral-basic);
  outline: none;
}

.advantages {
  margin-bottom: 80px;
  padding: 24px;
  background-image: url("../images/background-advantages.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}

.advantages-container {
  padding: 57px 40px 56px 40px;
  background-color: var(--extra-light);
  border-radius: 16px;
}

.advantages-container .title-h2 {
  margin-bottom: 55px;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 506px);
  gap: 40px 31px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  position: relative;
}

.advantages-item::before {
  position: absolute;
  content: "";
  left: 0;
  width: 48px;
  height: 48px;
  border: 2px solid var(--extra-dark);
  border-radius: 50%;
}

.advantages-icon-1::before,
.advantages-icon-2::before,
.advantages-icon-3::before,
.advantages-icon-4::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}

.advantages-icon-1::before {
  background-image: url("../images/advantages/advantages-icon-1.svg");
}

.advantages-icon-2::before {
  background-image: url("../images/advantages/advantages-icon-2.svg");
}

.advantages-icon-3::before {
  background-image: url("../images/advantages/advantages-icon-3.svg");
}

.advantages-icon-4::before {
  background-image: url("../images/advantages/advantages-icon-4.svg");
}

.advantages-item .dark-text {
  margin-left: 64px;
}

.blog-newsletter {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  column-gap: 30px;
  margin-bottom: 76px;
}

.blog {
  display: flex;
  flex-direction: column;
  padding: 32px 235px 64px 32px;
  background-image: url("../images/background-blog.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: var(--extra-light);
  border-radius: 16px;
}

.blog-new {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark);
}

.newsletter {
  padding: 6px;
  background-image: url("../images/background-newsletter.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}

.newsletter-container {
  padding: 26px 24px 27px 26px;
  background-color: var(--extra-light);
  border-radius: 16px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 43px;
}

.field {
  width: 330px;
  padding: 13px 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: var(--white);
  outline: 1px solid var(--neutral-basic);
  border: none;
  border-radius: 4px;
}

.field:hover {
  outline: 1px solid var(--extra-dark);}

.field:focus-visible {
  outline: 2px solid var(--extra-dark);
}

.field:read-only {
  color: var(--extra-dark);
  background-color: var(--extra-dark-light);
  outline: 1px solid var(--neutral-basic);
}

.field:disabled,
.field:disabled:hover {
  color: rgba(var(--extra-dark-rgb), 0.65);
  background-color: var(--extra-dark-light);
  outline: 1px solid var(--neutral-basic);
}

/* Готовые стили для Invalid */
/* .field:invalid {
  outline: 1px solid var(--status-error);
}

.field:invalid:hover {
  outline: 2px solid var(--status-error);
} */

/* Placeholder */
.field::placeholder {
  color: var(--neutral-basic);
  background-color: var(--white);
  opacity: 1;
}

.newsletter-form .button-main {
  max-width: 152px;
}

.order {
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;
  background-image: url("../images/background-order.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: var(--extra-light);
  border-radius: 16px;
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-left-wrapper {
  width: 371px;
}

.order-left-wrapper .title-h2 {
  margin-top: 6px;
  margin-bottom: 24px;
}

.order-right-wrapper {
  width: 500px;
  padding: 40px 38px 42px 41px;
  background-color: var(--extra-light);
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(var(--extra-dark-rgb), 0.12);
}

.order-form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.field-group:nth-child(2n+1) {
  margin-right: 16px;
}

.field-group:nth-last-of-type(1) {
  margin-bottom: 32px;
}

.form-label-icon {
  position: relative;
  margin-bottom: 8px;
  padding-right: 16px;
}

.form-label {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 6px;
  width: 12px;
  height: 12px;
}

.tooltip-toogle {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
}

.tooltip-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.tooltip-toogle svg {
  fill: var(--extra-dark);
}

.tooltip-text {
  position: absolute;
  top: -100%;
  z-index: 3;
  display: none;
  margin-left: 20px;
  padding: 10px 7px;
  width: 162px;
  font-size: 12px;
  line-height: 16px;
  color: var(--dark);
  background-color: var(--extra-light);
  border: 1px solid var(--neutral-basic);
  border-radius: 1px;
  box-shadow: 0px 2px 12px rgba(var(--dark-shadow-rgb), 0.18);
}

.tooltip-text::after {
  position: absolute;
  content: "";
  top: 0;
  right: 100%;
  bottom: 0;
  width: 7px;
  height: 14px;
  margin-top: 11px;
  margin-bottom: auto;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
}

.tooltip-toogle:focus-visible {
  outline: none;
}

.tooltip-toogle:hover + .tooltip-text,
.tooltip-toogle:focus-visible + .tooltip-text {
  display: block;
}

.order-date {
  width: 117px;
}

.order-phone {
  width: 287px;
}

.order-address {
  width: 420px;
}

.order-right-wrapper .button-main {
  margin: 0 auto;
}

.contacts {
  padding: 64px 763px 64px 64px;
  background-image: url("../images/background-contacts.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 16px;
}

.contacts-wrapper {
  padding: 40px;
  background-color: var(--extra-light);
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(var(--extra-dark-rgb), 0.12);
}

.contacts-wrapper .dark-text {
  margin-bottom: 12px;
}

.contacts-address {
  margin-bottom: 24px;
  font-style: normal;
}

.contacts-phone {
  display: block;
  margin-bottom: -2px;
  color: var(--extra-dark);
  text-decoration: none;
}

.contacts-phone:hover {
  text-decoration: underline;
}

.contacts-phone:focus,
.contacts-phone:active {
  color: rgba(var(--extra-dark-rgb), 0.3);
  outline: none;
  text-decoration: none;
}

.contacts-schedule {
  font-size: 14px;
  line-height: 20px;
}

.contacts .button-main {
  margin-top: 32px;
  padding: 13px 33px 13px 32px;
}

.page-footer {
  display: flex;
  align-items: flex-start;
  padding: 47px 0;
}

.page-footer .social-list {
  margin-left: 5px;
}

.footer-menus {
  display: flex;
  max-width: 400px;
  margin-left: auto;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu:not(:last-of-type) {
  margin-right: 24px;
}

.footer-menu-item:not(:last-child) {
  margin-bottom: 5px;
}

.footer-menu .main-link {
  text-decoration: none;
}

.footer-menu .main-link:hover {
  text-decoration: underline;
}

.footer-menu-item .main-link:focus,
.footer-menu-item .main-link:active {
  text-decoration: none;
}

.footer-menu-favorite {
  position: relative;
  font-weight: 700;
}

.footer-menu-favorite::before {
  position: absolute;
  content: "";
  top: 1px;
  left: -24px;
  width: 14px;
  height: 13px;
  background-image: url("../images/icon-favorite.svg");
  background-repeat: no-repeat;
}

.footer-htmlacademy {
  max-width: 200px;
  margin-right: 13px;
  margin-left: 200px;
}

.footer-htmlacademy .main-link {
  display: block;
  margin-bottom: 10px;
}

.htmlacademy-link {
  display: grid;
  place-items: center;
}

.htmlacademy-link svg {
  fill: var(--extra-dark);
}

.htmlacademy-link:hover svg {
  fill: rgba(var(--extra-dark-rgb), 0.3);
}

.htmlacademy-link:focus {
  outline: none;
}

.htmlacademy-link:focus svg,
.htmlacademy-link:active svg {
  fill: var(--extra-light);
}

.footer-htmlacademy p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-link-small {
  color: var(--extra-dark);
  text-underline-offset: 2px;
}

.main-inner {
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(var(--extra-light-rgb), 0.3);
}

.inner-header {
  margin-bottom: 49px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 29px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  top: 9px;
  right: -19px;
  width: 8px;
  height: 6px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs .main-link {
  font-weight: 700;
  text-underline-offset: 3px;
}

.inner-wrapper .title-h2 {
  margin-bottom: 39px;
}

.filter-elements {
  margin-bottom: 83px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 24px;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-left: 17px;
  margin-bottom: 8px;
  padding: 0;
}

.select-control {
  width: 196px;
  padding: 8px 37px 8px 16px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(var(--extra-light-rgb), 0.3);
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px 6px;
  border: none;
  border-radius: 20px;
  -webkit-appearance: none;
  appearance: none;
}

.select-control:hover {
  background-color: rgba(var(--extra-light-rgb), 0.5);
}

.select-control:focus,
.select-control:active {
  background-color: rgba(var(--extra-light-rgb), 0.4);
  outline: 2px solid var(--extra-light);
}

.catalog-fieldset-small {
  width: 196px;
}

/* Range */
.range {
  position: relative;
}

.range-wrapper-inputs {
  position: absolute;
  top: -28px;
  left: 60px;
  display: flex;
  max-height: 20px;
  overflow: hidden;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  width: 30px;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-input:focus-visible {
  outline: none;
}

.range-scale-container {
  padding: 10px 16px;
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border-radius: 20px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin: 7px auto;
  background-color: rgba(var(--dark-rgb), 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: var(--dark);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
  background-color: var(--extra-light);
  border: 6px solid var(--extra-dark);
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: var(--extra-dark);
  border: 6px solid var(--extra-light);
}

.range-toggle:focus {
  background-color: var(--extra-dark);
  border: 6px solid var(--extra-light);
  outline: 2px solid var(--extra-dark);
}

.range-toggle:active {
  background-color: var(--extra-dark);
  border: none;
  outline: none;
}

.toggle-min {
  top: -7px;
  left: -6px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

/* List */
.catalog-filter-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 8px 0 8px 16px;
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border-radius: 20px;
  list-style-type: none;
}

.catalog-filter-item {
  margin-right: 18px;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 23px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--extra-dark);
  border-radius: 3px;
}

.control-mark svg {
  fill: var(--extra-dark);
  opacity: 0;
}

.control-input:hover + .control-mark {
  border: 1px solid var(--extra-light);
}

.control-input:hover ~ .control-label {
  color: var(--extra-light);
}

.control-input:focus + .control-mark,
.control-input:active + .control-mark {
  border: 1px solid rgba(var(--extra-light-rgb), 0.6);
}

.control-input:focus ~ .control-label,
.control-input:active ~ .control-label {
  color: rgba(var(--extra-light-rgb), 0.6);
}

.control-input:disabled + .control-mark,
.control-input:disabled:hover + .control-mark {
  border: 1px solid rgba(var(--extra-dark-rgb), 0.4);
}

.control-input:disabled ~ .control-label,
.control-input:disabled:hover ~ .control-label {
  color: rgba(var(--extra-dark-rgb), 0.4);
}

/* Checkbox */
.control-input[type="checkbox"]:checked + .control-mark {
  border: none;
}

.control-input[type="checkbox"]:checked + .control-mark svg {
  opacity: 1;
}

.control-input[type="checkbox"]:checked:hover + .control-mark svg {
  fill: var(--extra-light);
}

.control-input[type="checkbox"]:checked:focus + .control-mark svg {
  fill: rgba(var(--extra-light-rgb), 0.6);
}

.control-input[type="checkbox"]:checked:disabled + .control-mark svg {
  fill: rgba(var(--extra-dark-rgb), 0.4);
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  background-color: var(--extra-dark);
  border-radius: 50%;
}

.control-input[type="radio"]:checked:hover + .control-mark::before,
.control-input[type="radio"]:checked:focus + .control-mark::before,
.control-input[type="radio"]:checked:active + .control-mark::before {
  background-color: var(--extra-light);
}

/* Label */
.control-label {
  font-size: 14px;
  line-height: 20px;
}

.filter-button {
  margin-top: 28px;
  padding: 8px 53px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--extra-dark);
  background-color: rgba(var(--extra-light-rgb), 0.3);
  outline: 2px solid var(--extra-light);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--extra-light);
  outline: 2px solid rgba(var(--extra-light-rgb), 0.3);
}

.filter-button:focus,
.filter-button:active {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  outline: 2px solid var(--extra-dark);
}

.filter-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.filter-button:disabled:hover {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  outline: 2px solid var(--extra-light);
}

.catalog-products .product-list {
  margin-bottom: 57px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-left: 495px;
}

.pagination .button-main {
  max-width: 210px;
}

.pagination-container {
  display: flex;
  align-items: center;
  max-width: 290px;
  margin-left: auto;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-prev,
.pagination-next {
  width: 16px;
  height: 16px;
  background-image: url("../images/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px 12px;
}

.pagination-prev {
  margin-right: 17px;
  opacity: 0.2;
  transform: rotate(180deg);
}

.pagination-next {
  margin-left: 17px;
}

.pagination-next:hover {
  opacity: 0.7;
}

.pagination-next:focus,
.pagination-next:active {
  opacity: 0.3;
}

.pagination-link {
  display: block;
  max-width: 40px;
  padding: 0 8px;
  color: var(--extra-dark);
  background-color: transparent;
  text-decoration: none;
}

.pagination-link:hover {
  text-decoration: underline;
}

.pagination-link:focus,
.pagination-link:active {
  color: rgba(var(--extra-dark-rgb), 0.3);
  text-decoration: none;
  outline: none;
}

.pagination-link-current {
  max-width: 40px;
  background-color: var(--extra-light);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-link-current:hover {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: 1px solid var(--extra-light);
  text-decoration: none;
}

.pagination-link-current:focus,
.pagination-link-current:active {
  background-color: rgba(var(--extra-light-rgb), 0.3);
  border: 1px solid var(--extra-dark);
  text-decoration: none;
}

/* Поповер корзины */
.popover {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.155s ease-in-out;
  transition-delay: 0.125s;
  padding: 49px 50px 48px 48px;
  color: var(--extra-dark);
  background-color: var(--extra-light);
  border-radius: 4px;
  box-shadow: 0px 15px 40px rgba(var(--extra-dark-rgb), 0.12);
}

.popover-open {
  display: block;
}

.popover-cart {
  width: 441px;
  min-height: 156px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.popover-cart-empty {
  width: 288px;
  min-height: 156px;
  text-align: center;
}

.popover-trigger::after {
  content: "";

  position: absolute;
  top: 100%;
  display: block;
  height: 40px;
  width: 100%;
  left: 0;
  background-color: transparent;
  pointer-events: none;
}

.popover-trigger:hover + .popover {
  opacity: 1;
  pointer-events: auto;
  transition: 0.155s ease-in-out;
  transition-delay: 0.425s;
}

.popover-trigger:hover::after {
  pointer-events: auto;
}

.popover:hover {
  opacity: 1;
  pointer-events: auto;
}

.popover-content {
  height: 100%;
}

.popover .title-h3,
.modal-content .title-h3 {
  display: block;
  margin-bottom: 31px;
}

.popover-cart-empty .title-h3 {
  margin-bottom: 0;
}

.cart-items-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid var(--extra-dark-light);
}

.cart-item {
  display: grid;
  grid-template-columns: 279px 10px;
  column-gap: 55px;
  align-items: center;
}

.cart-item:not(:last-child) {
  margin-bottom: 23px;
}

.cart-item:last-child {
  margin-bottom: 30px;
}

.cart-item-link {
  display: grid;
  grid-template-columns: 46px 150px 51px;
  grid-template-rows: repeat(2, 1fr);
  gap: 3px 16px;
  align-items: center;
  color: var(--extra-dark);
  background-color: var(--extra-light);
  text-decoration: none;
}

.cart-item-link:hover,
.cart-item-button:hover,
.modal-close-button:hover {
  opacity: 0.6;
}

.cart-item-link:focus,
.cart-item-link:active,
.cart-item-button:focus,
.cart-item-button:active,
.modal-close-button:focus,
.modal-close-button:active {
  opacity: 0.3;
  outline: none;
}

.cart-item-image {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  margin-top: -2px;
  border-radius: 50%;
}

.cart-item-title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.cart-item-text {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--neutral-basic);
}

.cart-item-price {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.cart-item-button,
.search-reset,
.modal-close-button {
  grid-column: 2 / 3;
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/icon-cart-item-delete.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.popover-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.cart-sum {
  margin-top: 3px;
}

/* Поповер авторизации */
.popover-auth {
  width: 420px;
  padding-bottom: 48px;
}

.popover-auth .field-group {
  margin-right: 0;
  margin-bottom: 18px;
}

.popover-auth .field-group:nth-last-of-type(2) {
  margin-bottom: 0;
}

.popover-auth .field {
  width: 324px;
}

.popover-auth .popover-info {
  justify-content: flex-start;
  margin-top: 34px;
}

.popover-auth .button-main {
  margin-top: -4px;
  margin-right: 23px;
}

.popover-auth .popover-user-options {
  margin-bottom: 0;
}

.popover-auth .main-link {
  margin-bottom: 4px;
  text-underline-offset: 3px;
}

/* Поповер поиска */
.popover-search {
  width: 356px;
  padding: 24px 16px 26px 16px;
  box-shadow: 0px 8px 16px rgba(var(--extra-dark-rgb), 0.12);
}

.search-form {
  position: relative;
}

.popover-search .field {
  width: 322px;
  padding: 13px 31px 13px 16px;
}

.popover-search .field::-webkit-search-decoration,
.popover-search .field::-webkit-search-cancel-button,
.popover-search .field::-webkit-search-results-button,
.popover-search .field::-webkit-search-results-decoration {
  display: none;
}

.search-reset {
  position: absolute;
  top: 20px;
  right: 16px;
  opacity: 0.4;
}

.search-reset:hover {
  opacity: 1;
}

.search-reset:focus,
.search-reset:active {
  opacity: 0.6;
  outline: none;
}

/* Подменю */
.navigation-catalog {
  top: 37px;
  left: -1px;
  width: 138px;
  padding: 8px 0;
}

.navigation-catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-catalog-list-item:not(:last-child) {
  margin-bottom: -4px;
}

.navigation-catalog-list-item.item-favorite {
  position: relative;
  margin-bottom: 8px;
  font-weight: 700;
}

.item-favorite::after {
  position: absolute;
  content: "";
  top: 39px;
  left: 16px;
  width: 106px;
  height: 1px;
  background-color: var(--neutral-basic);
}

.navigation-catalog-link {
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 20px;
  color: var(--extra-dark);
  background-color: var(--extra-light);
  text-decoration: none;
}

.navigation-catalog-link:hover {
  width: 100%;
  height: 100%;
  background-color: var(--pink-extra-light);
}

.navigation-catalog-link:focus,
.navigation-catalog-link:active {
  width: 100%;
  height: 100%;
  background-color: var(--neutral-special);
}

.navigation-catalog-link-current {
  width: 100%;
  height: 100%;
  color: var(--extra-light);
  background-color: var(--bright);
}

/* Поп-ап "Мы обязательно ответим вам!" */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--extra-dark-rgb), 0.3);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 64px 66px 64px;
  background-color: var(--extra-light);
  border-radius: 8px;
  box-shadow: 0px 15px 40px rgba(var(--extra-dark-rgb), 0.12);
}

.modal-feedback {
  width: 570px;
}

.modal-close-button {
  position: absolute;
  top: 37px;
  right: 37px;
}

.feedback-form .field {
  width: 100%;
}

.feedback-form .field-group:nth-child(2n+1) {
  margin-right: 0;
}

.feedback-form .feedback-comment {
  width: 442px;
  resize: none;
}

.feedback-form .button-main {
  float: right;
}
